# docker-compose.yml (na raiz do projeto)

version: '3.8' # Define a versão do docker-compose

services:
  # --- Serviço do Backend (Django) ---
  backend:
    build: ./backend  # Onde está o Dockerfile do backend
    container_name: codeleap-backend
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000" # Comando para rodar
    volumes:
      - ./backend:/app # Mapeia o código local para o container
      - backend-db:/app # Mapeia o db.sqlite3 para um volume
    ports:
      - "8000:8000" # Mapeia a porta 8000 do container para a porta 8000 da sua máquina
    environment:
      - PYTHONUNBUFFERED=1 # Garante que os logs do Python apareçam no terminal

  # --- Serviço do Frontend (React) ---
  frontend:
    build: ./frontend # Onde está o Dockerfile do frontend
    container_name: codeleap-frontend
    volumes:
      - ./frontend:/app # Mapeia o código local para o container
      - /app/node_modules # Não mapeia node_modules (usa o que foi instalado no build)
    ports:
      - "5173:5173" # Mapeia a porta 5173 (Vite) para a porta 5173 da sua máquina
    depends_on:
      - backend # Diz ao Docker para esperar o backend iniciar antes do frontend

volumes:
  backend-db: # Define um "volume" para o banco de dados